    public function {% if data.final %}{{ data.title | ltrim('_') }}
    {%- else %}{{ data.title | ltrim('_') | lcfirst }}{%- endif %}(
    {%- if data.final %}
        {%- if data.isForRecipe %}string $fileTitle, string $filePath
        {%- else %}string $componentTitle = null{% endif %}
    {%- endif %}
    {{- ')' }}
    {
        return new {% if data.final %}
        {%- if data.alias is defined and data.alias is not empty %}{{ data.alias }}
        {%- else %}{{ data.title }}{% endif %}
    {%- else %}{{ data.title | ltrim('_') }}Factory{% endif %}(
    {%- if data.final %}
        {%- if data.isForRecipe %}$fileTitle, $filePath
        {%- else %}$componentTitle{% endif %}
    {%- endif %}
    {{- ')' }};
    }
