
{% if data.abstract%}abstract {% endif %}class {{ data.title }}
{%- if data.extends is not empty %} extends {{ data.extends }}{% endif %}
{%- if data.implements is not empty %} implements {{ data.implements }}{% endif %}

{
{% include 'src/Lib/templates/include.twig' %}
}