{%  if data.properties | length > 0 %}
{% for property,config in data.properties %}
    {% if config.visibility is not empty %}{{ config.visibility  }} {% else %}
    {{-  data.default.visibility  }} {% endif %}
    {%- if config.static is defined and config.static %}static {% endif %}
    {{-  '$' ~ property }}
    {%- if config.value is not empty %} = {{ config.value | raw }}{% endif %}
    {{- ';' }}

{% endfor %}
{% endif %}
