{%  if data.setters | length > 0 %}

{% for setter,config in data.setters %}
    {% if config.abstract is defined and config.abstract %}abstract {% elseif data.default.abstract is defined and data.default.abstract %}
        {{-  'abstract'  }} {% endif %}
    {%- if config.visibility is not empty %} {{ config.visibility }} {% else %}
        {{-  data.default.visibility  }} {% endif %}
    {%- if config.static is defined and config.static %}static {% elseif data.default.static is defined and data.default.static %}static {% endif %}
    {{-  'function set' }}{{ config.property | ucfirst }}(
    {%- if config.inputType is not empty %}{{ config.inputType }} {% endif %}${{ config.property }}
    {%- if config.nullableInput is defined and config.nullableInput %} = null{% elseif data.default.nullableInput is defined and data.default.nullableInput %} = null{% endif %})
    {%- if config.returnSelf is defined and config.returnSelf %}: self{% elseif data.default.returnSelf is defined and data.default.returnSelf %}: self{% endif %}

    {
        $this->{{ config.property }} = ${{ config.property }};
        {%- if config.returnSelf is defined and config.returnSelf %}


        return $this;{% elseif data.default.returnSelf is defined and data.default.returnSelf %}


        return $this;
        {%- endif %}

    }
{% endfor %}
{% endif %}
